/* stylesheet for choose template page */
body {
    background: #F6F6F6;
}

.heading {
    margin-top: 70px;
}

#main {
    padding-top: 0;
}

.heading {
    background-position-y: 0px;
    min-height: 110px;
    color: #666;
}

.heading p {
    font-size: 15px;
}

.suggest-title {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    color: #0BA25E;
}

#setting a {
    font-size: 16px;
    border: 1px solid #FFF;
    padding: 3px 5px;
    border-radius: 2px;
    color: #FFF;
    display: inline-block;
}

#setting a:hover {
    color: #39B188;
    border-color: #39B188;
}

#template-list {
    width: 100%;
    /*max-width: 960px;*/
    margin: 30px auto;
}

#template-list .cv-img {
    position: relative;
    margin: 0px 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

#template-list .cv-img > a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#template-list .cv-img .cv-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#template-list .cv-img:hover .cv-overlay {
    opacity: 1;
    box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
}

#template-list .cv-overlay a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 48%;
    font-size: 18px;
    text-decoration: none;
}

#template-list .cv-overlay a span {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(11, 162, 94, 0.82);
    color: white;
    border-radius: 30px;
}

.overlay-content-wraper {
    width: 100%;
    height: 100%;
    position: relative;
}

#template-list .cv-img img {
    height: 460px;
    cursor: pointer;
    max-width: none;
}

#template-list p {
    margin: 10px;
}

#template-list .cv-title {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

#template-list .cv-title a {
    color: #555;
    text-decoration: none;
}

#template-list .cv-title a:hover {
    text-decoration: underline;
}

#template-list .cv-title .label {
    font-size: 9px;
    font-weight: normal;
    border-radius: 8px;
    padding: 4px 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

#template-list .cv-title .label .fa {
    margin-right: 2px;
    font-size: 10px;
}

#template-list .cv-price {
    color: green;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 20px 10px 0px;
}

#template-list .cv-like {
    color: red;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 20px 10px 0px;
}

#template-list .sale-item {
    position: absolute;
    width: 70px;
    text-align: center;
    z-index: 0;
    right: 0;
    bottom: 0;
}

#template-list .sale-item .label {
    padding: 5px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 172, 237, 1);
    text-transform: uppercase;
    text-align: center;
    display: block;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 5px 0 0 0;
    opacity: 0.8;
}

#template-list .sale-item .label.vip {
    background: rgba(244, 67, 54, 1);
}

#template-list .cv-img:hover .sale-item .label {
    opacity: 1;
}

@media (max-width: 420px) {
    #template-list > .row > div {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #option-modal .modal-dialog {
        width: 450px;
    }

    #option-modal label {
    }
}

#option-modal .close {
    color: #888;
}

#option-modal .close:hover {
    color: #888;
}

#option-popup {
    display: none;
    width: 480px;
    min-height: 360px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #ccc;
    margin: 80px auto 80px;
    padding: 20px 30px;
}

#option-popup p {
    margin-bottom: 20px;
}

#option-popup p.hr {
    color: #666;
    margin: 24px 0px;
}

#option-popup .form-control-1 {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#option-popup .form-control-1:focus {
    outline: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#popup-preview-cv {
    display: none;
    width: 900px;
    min-height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #F5F5F5;
    position: relative;
}

.close {
    opacity: 1;
}

.close:focus, .close:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=100);
    opacity: 1;
}

#btn-suggest {
    background-color: #39B188;
}

.sticker {
    font-size: 12px;
    font-weight: bold;
    background: #EA2D3B;
    color: #fff;
    font-family: Helvetica, Tahoma, Verdana, arial, sans-serif;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 2px;
    text-transform: lowercase;
    line-height: normal;
    text-shadow: none;
}

.label-new {
    background: #EA2D3B;
}

.label-hot {
    background: #2C3E50;
}

.label-popular {
    background: #2DB089;
}

.label-best {
    background: #EA2D3B;
}

#open-option-popup {
    font-size: 16px;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}

.cv-options-wraper {
    width: 100%;
}

@media (min-width: 992px) {
    .cv-options-wraper {
        padding: 0 10%;
    }
}

.tab-header {
    background-color: #019c7c;
    color: #FFF;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.tab-header-top {
    color: #019c7c;
    margin-bottom: 10px;
    font-size: 14px;
    display: inline-block;
    line-height: 14px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    padding-bottom: 10px;
}

.tab-header-top div {
    display: inline-block;
    color: #019c7c;
    font-weight: 700;
}

.recommend-cv {
    margin: 15px 15px;
}

.nav-tabs > li {
    /*float: none;*/
    width: 33.33333333%;
    min-width: 100px;
    text-align: center;
}

.nav-tabs > li > a {
    color: #019c7c;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.box {
    position: relative;
}

#modal-upgrade .close,
#modal-limit-cv-free .close {
    opacity: 0.2;
}

#modal-upgrade .close:hover,
#modal-limit-cv-free .close:hover {
    opacity: 1;
    color: #000;
}

#template-list .row .template_cv {
    padding: 0 5px;
}

.option-popup-title {
    font-size: 17px;
    color: #0BA25E;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 512px) {
    .col-xs-6.template_cv {
        width: 100%;
    }
}

#loader-overlay {
    /*display: none;*/
    z-index: 9696969;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50px;
    left: 0;
}

#loader-overlay .loader {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -58px;
    height: 116px;
    width: 116px;
    background: transparent !important;
}

/* Loader page mau-cv */
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-overlay {
    display: none;
    z-index: 9696969;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50px;
    left: 0;
}

#loader-overlay .loader {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -58px;
    height: 116px;
    width: 116px;
    background: transparent !important;
}

@-webkit-keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ball-grid-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0.7;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.ball-grid-pulse {
    width: 57px;
}

.ball-grid-pulse > div:nth-child(1) {
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.ball-grid-pulse > div:nth-child(2) {
    -webkit-animation-delay: 0.32s;
    animation-delay: 0.32s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

.ball-grid-pulse > div:nth-child(3) {
    -webkit-animation-delay: 0.71s;
    animation-delay: 0.71s;
    -webkit-animation-duration: 0.88s;
    animation-duration: 0.88s;
}

.ball-grid-pulse > div:nth-child(4) {
    -webkit-animation-delay: 0.62s;
    animation-delay: 0.62s;
    -webkit-animation-duration: 1.06s;
    animation-duration: 1.06s;
}

.ball-grid-pulse > div:nth-child(5) {
    -webkit-animation-delay: 0.31s;
    animation-delay: 0.31s;
    -webkit-animation-duration: 0.62s;
    animation-duration: 0.62s;
}

.ball-grid-pulse > div:nth-child(6) {
    -webkit-animation-delay: -0.14s;
    animation-delay: -0.14s;
    -webkit-animation-duration: 1.48s;
    animation-duration: 1.48s;
}

.ball-grid-pulse > div:nth-child(7) {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
    -webkit-animation-duration: 1.47s;
    animation-duration: 1.47s;
}

.ball-grid-pulse > div:nth-child(8) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 1.49s;
    animation-duration: 1.49s;
}

.ball-grid-pulse > div:nth-child(9) {
    -webkit-animation-delay: 0.73s;
    animation-delay: 0.73s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

.ball-grid-pulse > div {
    background-color: #39b188;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 4px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    float: left;
    -webkit-animation-name: ball-grid-pulse;
    animation-name: ball-grid-pulse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
