#login-page {
    padding-top: 20px;
    min-height: 550px
}

#signup-page {
    padding-top: 20px;
    min-height: 670px
}

#login-form .title, #sign-up-form .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px
}

#login-form .btn-facebook, #sign-up-form .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
    border: 1px solid #3b5998;
    border-radius: 3px
}

#login-form .btn-facebook .fa, #sign-up-form .btn-facebook .fa {
    font-size: 18px
}

#login-form ul {
    margin-left: 10px
}

.guide .title {
    font-size: 20px;
    margin-bottom: 15px
}

.guide .step {
    margin-bottom: 21px;
    line-height: 30px;
    color: #666
}

#login-page .guide iframe {
    height: 316px
}

#login-form .block-body {
    margin-bottom: 30px
}

#login-form p.hr, #request-form p.hr, #sign-up-form p.hr {
    color: #666;
    margin: 12px 0
}

#login-form p, #request-form p, #sign-up-form p, #forgot-password-form p {
    margin-bottom: 10px
}
