@font-face {
    font-family: svn-gotham-bold;
    src: url(../fonts/SVN-Gotham-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

body {
    font-family: Arial, helvetica neue, Helvetica, sans-serif;
    font-weight: 300;
    background-color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    color: #666
}

a:hover {
    color: #0ba25e;
    text-decoration: none
}

.modal-content {
    border-radius: 0
}

#ctn-keyword {
    padding-right: 0
}

#ctn-search {
    padding-left: 0
}

@media (min-width: 992px) {
    .container {
        max-width: 1100px
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
        min-width: 750px;
        width: 96%
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .text-right-xs {
        text-align: right
    }

    .text-center-xs {
        text-align: center
    }

    #ctn-keyword {
        padding-right: 15px
    }

    #ctn-search {
        padding-left: 15px
    }
}

@media (max-width: 991px) {
    .text-center-sm {
        text-align: center
    }
}

#main {
    padding-bottom: 10px
}

.form-control {
    height: 40px;
    font-size: 12px;
    border-radius: 2px;
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: rgba(0, 0, 0, .1);
    padding: 10px 18px;
    color: rgba(0, 0, 0, .87)
}

.form-control:focus, .form-control:active {
    outline: 0;
    border-color: rgba(0, 0, 0, .15);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5)
}

.form-control::placeholder {
    color: rgba(0, 0, 0, .3)
}

.input-group-addon {
    height: 40px
}

.input-group-btn .btn {
    height: 40px;
    outline: 0
}

.alert {
    border-radius: 0
}

.img-responsive {
    max-width: 100%;
    display: inline-block
}

.bold {
    font-weight: 700
}

.italic {
    font-style: italic
}

.line-through {
    text-decoration: line-through
}

.underline {
    text-decoration: underline
}

.text-gray {
    color: #999
}

a.text-gray:hover {
    color: #777
}

.text-dark-gray {
    color: #666
}

a.text-dark-gray:hover {
    color: #444
}

.text-highlight {
    color: #0ba25e
}

a.text-highlight:hover {
    color: #1a8a58
}

.text-red {
    color: #d0011b
}

a.text-red:hover {
    color: #b1061c
}

.text-light-red {
    color: #d9534f
}

.text-orange {
    color: #ff9800
}

a.text-orange:hover {
    color: #fdb64d
}

.text-gold {
    color: #ffeb3b !important
}

.text-white {
    color: #fff
}

a.text-white:hover {
    color: #efefef
}

.text-tiny {
    font-size: 10px
}

.text-normal {
    font-size: 14px
}

.text-small {
    font-size: 12px
}

.box {
    padding: 20px;
    margin-bottom: 20px
}

.box:not(.box-no-padding) > hr {
    margin-left: -20px;
    margin-right: -20px;
    border-top: 1px solid #f6f6f6
}

.box-relative {
    position: relative
}

.box-overflow-hidden {
    overflow: hidden
}

.box-no-padding {
    padding: 0
}

.box-white {
    background-color: #fff
}

.box-gradient-orange {
    background-image: linear-gradient(-45deg, #EEA304 0%, #EEBB04 100%);
    background-image: -webkit-linear-gradient(-45deg, #EEA304 0%, #EEBB04 100%);
    color: #fff
}

.box-green {
    background-color: #0ba25e;
    color: #fff
}

.box-red {
    background-color: #c83f19;
    color: #fff
}

.box-gray {
    background-color: #999;
    color: #fff
}

.box-blue {
    background-color: #5aaef1;
    color: #fff
}

.full-width-list {
    list-style: none
}

.full-width-list > li {
    width: 100%;
    border-left: 2px solid transparent;
    position: relative
}

.full-width-list > li {
    border-bottom: 1px solid #f6f6f6
}

.full-width-list li:last-child {
    border-bottom: 0
}

.full-width-list li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px
}

.full-width-list > li .fa {
    margin-right: 12px;
    width: 10px;
    text-align: center
}

.full-width-list li:hover {
    border-left: 2px solid #0ba25e
}

.full-width-list li.active {
    border-left: 2px solid #0ba25e
}

.full-width-list li.active a {
    color: #0ba25e;
    font-weight: 600
}

.full-width-list > li .item-count {
    position: absolute;
    right: 20px
}

.list-logo-title .row {
    margin-bottom: 15px
}

.list-logo-title .list-logo {
    width: 100%;
    height: 55px;
    max-width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    float: left
}

.list-logo-title .list-logo img {
    max-width: 100%;
    border-radius: 2px
}

.list-logo-title .list-title {
    padding-top: 10px
}

.btn-box-reg {
    position: absolute;
    top: -35px;
    right: -35px;
    background-color: rgba(0, 0, 0, .1);
    color: #999;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    padding-top: 47px;
    padding-left: 31px;
    cursor: pointer
}

.btn-box-reg.btn-remove:hover {
    background-color: #d0011b;
    color: #fff
}

.btn-border {
    border: 2px solid #fff
}

.btn-border-thin {
    border-width: 1px
}

.btn-transparent-darker {
    background-color: rgba(0, 0, 0, .1);
    color: #fff
}

.btn-transparent-darker:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .17)
}

.box-ap-intro {
    background-image: '../v3/images/logo-ap.png';
    background-position: top right;
    background-repeat: no-repeat
}

.ap-intro-logo-wraper {
    padding-top: 20px;
    text-align: right
}

.ap-intro-icon-wraper {
    padding: 30px
}

.ap-intro-content-wraper {
    padding: 20px
}

.create-first-logo-wraper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0;
    text-align: right
}

.btn {
    padding: 10px 20px;
    font-weight: 700
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px
}

.box-title {
    font-size: 20px;
    margin: 10px 0
}

.box.box-small .box-title {
    font-size: 20px;
    margin-bottom: 5px
}

.box-title-light {
    margin: 15px 0
}

.box-content {
    padding: 10px 0
}

.box-footer {
    margin: 10px 0
}

.btn-no-radius {
    border-radius: 0
}

.btn-topcv-default {
    background-color: #bfbfbf;
    border: 0;
    color: #fff
}

.btn-topcv-default:hover {
    background-color: #aaa;
    color: #fff
}

.btn-topcv-primary {
    background-color: #0ba25e;
    color: #fff
}

.btn-topcv-primary:hover, .btn-topcv-primary:focus, .btn-topcv-primary:active {
    background-color: #1a8a58;
    color: #fff
}

.btn-topcv-text-normal {
    font-weight: 400
}

.btn-topcv-gray {
    color: #999;
    background: rgba(0, 0, 0, .05)
}

.btn-topcv-gray:hover, .btn-topcv-gray:focus, .btn-topcv-gray:active {
    color: #999;
    background: rgba(0, 0, 0, .08)
}

.btn-topcv-red {
    color: #fff;
    background-color: #dd4b39
}

.btn-topcv-red:hover, .btn-topcv-red:focus, .btn-topcv-red:active {
    color: #fff;
    background-color: #ab392b
}

.btn-topcv-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998
}

.btn-topcv-facebook:hover, .btn-topcv-facebook:focus, .btn-topcv-facebook:active {
    color: #fff;
    background-color: #4361a1;
    border-color: #4361a1
}

.navbar-default {
    border-radius: 0;
    background-color: #fff
}

#header .navbar-default {
    font-weight: 700;
    border-top: 0
}

#header .navbar-default .navbar-nav > li > a {
    color: #333
}

#header .navbar-default .navbar-nav > li > a.active, #header .navbar-default .navbar-nav > li > a:hover {
    color: #0ba25e
}

#navbar {
}

#sub-navbar {
    padding-left: 0;
    padding-right: 0
}

#header .navbar-brand {
    height: auto;
    padding: 10px 15px
}

#header .navbar {
    margin-bottom: 0
}

#header .navbar.no-sub-nav {
    margin-bottom: 20px
}

#header .navbar-right a.dropdown-toggle {
    padding-top: 7px
}

#header .navbar-right img {
    width: 100%;
    max-width: 40px;
    margin-right: 7px;
    border-radius: 50%
}

.header-buttons {
    border: 1px solid #0ba25e;
    padding: 5px 10px;
    border-radius: 5px;
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    padding-left: 10px
}

.header-buttons:hover {
    border-color: #0ba25e;
    background-color: #0ba25e
}

.header-buttons a {
    border-radius: 0;
    color: #0ba25e;
    display: inline-block;
    cursor: pointer
}

.header-buttons:hover a {
    color: #fff
}

.navbar-brand img {
    width: 101px;
    height: auto
}

.new-badge {
    color: #d0011b
}

.qc-badge {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    vertical-align: middle;
    font-weight: 700;
    padding: 1px 5px;
    border-radius: 3px;
    margin-right: 3px;
    background-color: #eea304
}

.qc-badge.badge-red {
    background-color: #d0011b
}

#sub-header .navbar-default {
    border-top: 0;
    font-size: 13px
}

#sub-header a {
    color: #666;
    font-size: 14px;
    height: 60px;
    word-spacing: 1px;
    padding-top: 20px;
    white-space: nowrap
}

#sub-header .count-badge {
    vertical-align: middle;
    font-weight: 400;
    font-size: 10px;
    display: inline-block;
    padding: 0 4px;
    line-height: 1.2em;
    vertical-align: top;
    margin-left: 2px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid #999;
    color: #999
}

#sub-header .navbar-default .navbar-nav > .active > a {
    background-color: #fff;
    border-bottom: 1px solid #0ba25e;
    color: #0ba25e !important;
    font-weight: 700
}

#sub-header .navbar-default .navbar-nav > li > a:hover {
    border-bottom: 1px solid #777;
    color: #777
}

#sub-header .navbar-default .navbar-nav > .active > a .count-badge {
    border: 1px solid #eea304;
    color: #eea304
}

#sub-header .navbar-default .navbar-nav > li > a:hover .count-badge {
    border: 1px solid #777;
    color: #777
}

#sidebar .profile-avatar img {
    width: 83px;
    height: 83px;
    max-width: 150px;
    border-radius: 50%
}

#sidebar .profile-fullname {
    font-weight: 700;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 10px;
    position: relative
}

.progress-bar-wraper {
    padding: 10px 0
}

.tcv-progress-bar {
    height: 11px;
    padding: 2px;
    border: 1px solid #0ba25e;
    background-color: rgba(11, 162, 94, .1);
    width: 100%;
    border-radius: 5px
}

.tcv-progress-value {
    width: 1%;
    background-color: #0ba25e;
    border-radius: 3px;
    height: 5px
}

#sidebar .profile-avatar .vip-badge {
    position: absolute;
    background-color: #eea304;
    color: #fff;
    font-size: 9px;
    line-height: 12px;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 4px;
    top: 10px;
    right: 10px
}

#sidebar .account-type.free {
    font-size: 10px
}

#sidebar .account-type.vip span {
    font-size: 9px;
    background-color: #eea304;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 3px 7px
}

.box-group {
}

.box-group-header {
    padding: 15px 0
}

.box-group-title {
    font-size: 18px;
    line-height: 24px
}

.box-group-toolbox {
    font-size: 12px;
    line-height: 24px
}

.feed-jobs {
    margin-bottom: 30px
}

.feed-jobs .box {
    padding-top: 25px
}

.feed-jobs .job {
    margin-bottom: 15px
}

.feed-jobs .company-logo {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center
}

.feed-jobs .company-logo img {
    width: 100%;
    max-width: 150px
}

.feed-jobs .job-title {
    font-size: 16px;
    margin: 7px 0;
    margin-top: 0
}

.feed-jobs .job-location, .feed-jobs .job-type-salary {
    padding-right: 20px;
    font-size: 13px;
    line-height: 20px
}

.feed-jobs .job-location .fa {
    margin-right: 2px
}

.feed-jobs .job-type-salary {
    margin: 10px 0;
    line-height: 29px;
    vertical-align: bottom
}

.feed-jobs .job-applies-meta {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px
}

.feed-jobs .job-applies-meta > div {
    margin-bottom: 10px
}

.check-list-box {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-top: 10px
}

.check-list-item {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 45px;
    font-size: 13px
}

.check-list-item::before {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    content: ' ';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(12, 175, 101, .19);
    border: 1px solid #0ba25e
}

.check-list-item.done::before {
    content: '✓';
    color: #fff;
    background-color: #0ba25e;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    vertical-align: middle
}

.check-list-item.done {
    text-decoration: line-through
}

.check-list-box .check-list-item:last-child {
    border-bottom: 0
}

.job-waiting-status-text {
    margin-left: 10px;
    display: inline-block;
    font-size: 16px
}

#on-off-job-waiting .switchery {
    height: 22px;
    width: 40px;
    margin-bottom: 2px
}

#on-off-job-waiting .switchery > small {
    width: 22px;
    height: 21px;
    background-color: #ff3737
}

#on-off-job-waiting .job-on-show {
    display: none
}

#on-off-job-waiting.on .job-on-show {
    display: inline-block
}

#on-off-job-waiting.on .job-off-show {
    display: none
}

#on-off-job-waiting .job-waiting-description {
    font-size: 13px;
    margin-top: 15px;
    line-height: 20px;
    text-align: justify
}

#modalOptionWishJob label, #modal-email-password label {
    font-weight: 400;
    font-size: .95em
}

#modalOptionWishJob .modal-title {
    font-size: 21px
}

#modalOptionWishJob .btn-close {
    position: absolute;
    right: 10px;
    top: 10px
}

#modalOptionWishJob .modal-footer {
    border-top: 0;
    padding-bottom: 0;
    padding-top: 10px
}

#modalOptionWishJob .modal-header, #modal-email-password .modal-header {
    border-bottom: 0;
    padding-bottom: 0
}

.service-icon-wraper {
    padding-top: 10px
}

@media (min-width: 768px) {
    #cv-list .col-cv-data {
        padding-left: 0
    }
}

#cv-list .cv .cv-thumb {
    display: block;
    border: 1px solid #efefef;
    text-align: center;
    max-width: 110px
}

#cv-list .cv .cv-url {
    margin-bottom: 20px;
    margin-top: 20px
}

#cv-list .cv .cv-url input {
    border: 1px dashed #ccc;
    font-size: 14px;
    width: 100%;
    outline: 0;
    padding: 10px
}

#cv-list .cv .cv-action {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right
}

#cv-list .cv .cv-action li {
    display: inline-block
}

#cv-list .cv .cv-action li:last-child {
    margin-right: 0
}

#cv-list .cv .cv-action li a {
    font-size: 12px;
    background-color: #f6f6f6;
    color: #666;
    border-radius: 2px;
    font-weight: 400;
    padding: 4px 10px;
    margin-left: 3px;
    margin-top: 4px
}

#cv-list .cv .cv-action li a:hover {
    background-color: #d8d8d8
}

#cv-list .cv .cv-date {
    margin-top: 10px
}

footer {
    border-top: 1px solid #dfdfdf;
    line-height: 26px
}

footer a {
    color: #666;
    cursor: pointer
}

footer a:hover, footer a:focus, footer a:active {
    color: #444
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0
}

footer h5 {
    font-weight: 700;
    color: #666
}

footer .footer-headline-br {
    border-top: 1px solid #979797;
    width: 40px
}

@media (min-width: 768px) {
    .footer-top .footer-col-left {
        box-shadow: inset -30px 1px 30px -16px #eee;
        float: left
    }

    .footer-top .footer-col-right {
        padding-left: 50px;
        float: right
    }
}

.footer-top {
    background-color: #fff
}

.footer-top .footer-col-left, .footer-top .footer-col-right {
    padding-top: 40px;
    padding-bottom: 40px
}

.footer-bottom {
    border-top: 1px solid #dfdfdf;
    padding: 15px 0
}

.footer-logo-wraper {
    margin-bottom: 20px
}

.footer-logo {
    width: 110px
}

.footer-common-search-keywords {
    font-size: 12px;
    padding: 10px 0
}

footer .social-icons {
    margin-bottom: 10px
}

footer .social-icons a {
    display: inline-block;
    color: #999;
    margin-right: 5px;
    font-size: 1.2em
}

.pagination > li {
    display: inline-block;
    margin-right: 8px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #444;
    background-color: #eee;
    border-color: #ddd
}

.pagination > li > a, .pagination > li > span {
    color: #666;
    border: 0;
    cursor: pointer
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0ba25e
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

#privacy .desc {
    border: 1px dashed #ccc;
    padding: 10px;
    margin-left: 15px;
    background-color: #fcfcfc;
    color: #666;
    line-height: 25px;
    margin-bottom: 30px
}

#privacy .timing {
    display: none;
    margin-left: 25px;
    margin-top: 15px
}

#privacy.action {
    margin-left: 45px;
    margin-top: 20px
}

#privacy .checkbox {
    padding-left: 10px
}

#privacy .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px
}

#privacy .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    -o-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out
}

#privacy .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555
}

#privacy .checkbox input[type=checkbox] {
    opacity: 0
}

#privacy .checkbox input[type=checkbox]:checked + label::after {
    font-family: fontawesome;
    content: "\f00c"
}

#privacy .checkbox-success input[type=checkbox]:checked + label::before {
    background-color: #0ba25e;
    border-color: #0ba25e
}

#privacy .checkbox-success input[type=checkbox]:checked + label::after {
    color: #fff
}

#privacy .radio {
    padding-left: 20px
}

#privacy .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px
}

#privacy .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out;
    -o-transition: border .15s ease-in-out;
    transition: border .15s ease-in-out
}

#privacy .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -moz-transition: -moz-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    -o-transition: -o-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
    transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33)
}

#privacy .radio input[type=radio] {
    opacity: 0
}

#privacy .radio input[type=radio]:focus + label::before {
}

#privacy .radio input[type=radio]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1)
}

#privacy .radio input[type=radio]:disabled + label {
    opacity: .65
}

#privacy .radio input[type=radio]:disabled + label::before {
    cursor: not-allowed
}

#privacy .radio.radio-inline {
    margin-top: 0
}

#privacy .radio-danger input[type=radio] + label::after {
    background-color: #d9534f
}

#privacy .radio-danger input[type=radio]:checked + label::before {
    border-color: #d9534f
}

#privacy .radio-danger input[type=radio]:checked + label::after {
    background-color: #d9534f
}

.select2-dropdown {
    border-color: rgba(0, 0, 0, .1)
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px
}

.select2-container--default .select2-selection--single {
    border-radius: 2px;
    outline: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-color: rgba(0, 0, 0, .1);
    padding: 10px 18px;
    color: rgba(0, 0, 0, .87);
    height: 40px;
    font-size: 12px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
    padding: 0
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #999;
    font-size: 12px
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: 0;
    border-color: rgba(0, 0, 0, .1);
    border-radius: 2px
}

.select2-container--default .select2-selection--multiple {
    border-color: #e6e6e6;
    border-radius: 0
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e6e6e6 1px
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    cursor: default;
    float: left;
    padding: 5px 6px;
    font-size: 12px;
    background: rgba(0, 0, 0, .05);
    color: #666
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 12px;
    margin-top: 11px
}

.select2-results__option {
    font-size: 12px
}

.cvo-comment {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 2px solid #8a6d3b;
    font-style: italic
}

.cvo-comment-wrapper ul {
    list-style: none;
    padding-left: 20px
}

.cvo-comment-wrapper ul li::before {
    content: '✓';
    margin-right: 5px
}

#faqs .desc {
    border: 1px dashed #ccc;
    padding: 10px;
    margin-left: 15px;
    background-color: #fcfcfc;
    color: #666;
    line-height: 25px;
    margin-bottom: 30px
}

#faq-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #0ba25e
}

#footer-intro-cv-job {
    z-index: 1000;
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .8);
    padding: 0
}

#footer-intro-cv-job.hide {
    display: none !important
}

#footer-intro-cv-job {
    padding-top: 10px
}

#footer-intro-cv-job img {
    display: block;
    float: left;
    height: 220px;
    margin-top: 38px;
    margin-right: 5px
}

#footer-intro-cv-job .btn {
    min-width: 135px
}

#footer-intro-cv-job p {
    padding-top: 15px;
    margin: 5px 0 0;
    font-size: 28px;
    font-weight: 700
}

#footer-intro-cv-job > a.slide-up, #footer-intro-cv-job > a.slide-down {
    color: #aaa;
    opacity: .8;
    font-size: 24px;
    right: 10px;
    top: 0;
    position: absolute
}

#footer-intro-cv-job > a.slide-up:hover, #footer-intro-cv-job > a.slide-down:hover {
    color: #dfdfdf;
    opacity: 1
}

#footer-intro-cv-job > a.slide-up {
    display: none
}

#footer-intro-cv-job ul {
    list-style: none;
    margin-top: 10px
}

#footer-intro-cv-job li {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700
}

#footer-intro-cv-job li::before {
    content: '✓';
    color: #0ba25e;
    font-weight: 700;
    margin-right: 6px;
    font-size: 1.1em
}

#footer-intro-cv-job .bottom-buttons {
    margin-bottom: 20px;
    padding-top: 0
}

#footer-intro-cv-job.collapsed .slide-up {
    display: block
}

#footer-intro-cv-job.collapsed .slide-down {
    display: none
}

#footer-intro-cv-job.collapsed .intro-headline {
    width: 65%;
    float: left;
    font-size: 20px;
    text-align: left;
    padding-top: 5px;
    margin-top: 0
}

#footer-intro-cv-job.collapsed .intro-items {
    display: none
}

#footer-intro-cv-job.collapsed .bottom-buttons {
    float: right;
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: right;
    margin-right: 10px
}

#footer-intro-cv-job.collapsed .btn {
    padding: 5px 7px
}

#footer-intro-cv-job.collapsed img {
    display: none
}

@media (max-width: 991px) {
    #footer-intro-cv-job.collapsed .intro-headline {
        width: 100%;
        text-align: center
    }

    #footer-intro-cv-job.collapsed .bottom-buttons {
        width: 100%;
        text-align: center;
        margin-right: 0
    }
}

#footer-job-subscribe.hide {
    display: none !important
}

#footer-job-subscribe {
    z-index: 1000;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .8);
    padding: 0;
    padding: 20px;
    margin: 0 auto;
    max-width: 500px
}

#footer-job-subscribe .email-icon {
    float: left;
    width: 8%
}

#footer-job-subscribe .input-email {
    float: left;
    width: 55%;
    border-radius: 0;
    margin-left: 10px
}

#footer-job-subscribe .open-subscribe-modal {
    float: left;
    width: 32%;
    border-radius: 0;
    margin-left: 10px;
    text-align: center;
    padding-left: 13px;
    padding: 9px 12px
}

#job-subscribe-modal .btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    font-size: 16px;
    color: #bbb
}

#job-subscribe-modal .btn, #notice-subscribe-success .btn {
    border-radius: 0
}

@media (max-width: 540px) {
    #footer-job-subscribe .email-icon {
        display: none
    }

    #footer-job-subscribe .input-email {
        float: left;
        width: 70%;
        border-radius: 0;
        margin-left: 0
    }

    #footer-job-subscribe .open-subscribe-modal {
        float: left;
        width: 30%;
        border-radius: 0;
        margin-left: 0;
        text-align: center;
        padding-left: 13px;
        padding: 9px 12px
    }
}

#job-subscribe-modal .select2-container--default .select2-selection--multiple {
    min-height: 41px;
    font-size: 12px;
    border-radius: 2px;
    box-shadow: none
}

#job-subscribe-modal .select2-container--default .select2-selection--single {
    padding-left: 10px
}

#job-subscribe-modal .form-control {
    padding-left: 10px
}

#job-subscribe-modal .title, #notice-subscribe-success .title {
    font-size: 24px
}

#job-subscribe-modal .title {
    margin-bottom: 0
}

#job-subscribe-modal .input-error {
    font-size: .9em;
    margin-top: 5px
}

#footer-fanpage-topcv {
    z-index: 1000;
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 50px;
    background-color: rgba(0, 0, 0, .8);
    padding: 0
}

#footer-fanpage-topcv.hide {
    display: none !important
}

#footer-fanpage-topcv .full-width-container {
    width: 100%;
    position: relative
}

#footer-fanpage-topcv .intro-headline {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding-top: 5px;
    margin-top: 0
}

#footer-fanpage-topcv ul {
    list-style: none;
    margin-top: 10px;
    padding-left: 30px
}

#footer-fanpage-topcv li {
    font-size: 16px;
    line-height: 30px
}

#footer-fanpage-topcv li::before {
    content: '✓';
    color: #0ba25e;
    font-weight: 700;
    margin-right: 6px;
    font-size: 1.1em
}

#footer-fanpage-topcv .fb-page-wraper {
    padding: 10px
}

#footer-fanpage-topcv a.btn-close {
    color: #aaa;
    opacity: .8;
    font-size: 20px;
    right: 10px;
    top: 0;
    position: absolute;
    z-index: 10001
}

#col-right-job-suggestion .job-item {
    margin-top: 10px
}

#col-right-job-suggestion .job-item:last-child {
    margin-bottom: 0
}

#col-right-job-suggestion img {
    max-width: 40px
}

#col-right-job-suggestion .job-info {
    padding-left: 0
}

[v-cloak] {
    display: none
}

.padding-list ol, .padding-list ul {
    padding-left: 15px
}

#epl-btn {
    height: 68px;
    color: #fff;
    background-color: #324554;
    outline: 1px solid #324554;
    transition: background-color .3s
}

#epl-btn:hover {
    background-color: #1e2429
}

#epl-btn a {
    display: inline-block;
    height: 100%
}

#sidebar .cv-count {
    width: 83px;
    text-align: center;
    vertical-align: middle;
    height: 83px;
    background-color: #48c58d;
    border-radius: 50%;
    color: #fff;
    padding-top: 15px;
    margin: 5px auto
}

#sidebar .cv-count.gray {
    background-color: #a1a1a1
}

#sidebar .cv-count-number {
    font-size: 30px;
    font-weight: 700;
    line-height: 35px
}

#sidebar .cv-count-header {
    margin-bottom: 10px
}

#view-cv-count {
    width: 150px;
    height: 150px;
    background-color: #0ca25e;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center
}

#view-cv-count .flex-cv {
    text-align: center
}

#view-cv-count .cv-count-number {
    font-size: 48px;
    line-height: 48px
}

.box-group-search {
    padding: 15px 10px;
    background: #003840ff
}

#btn-upload-avatar:focus {
    outline: 0
}

#upload-profile-avatar .modal-header {
    background: #0ba25e;
    padding: 10px;
    color: #fff
}

#upload-profile-avatar .modal-footer {
    padding: 10px
}
